body {
  background-color: black;

}

h1 {
  color:Orange;
}

div.calc{
    border-style:solid;
    height:500px;
    padding-top: 25px;
    background-color:Aqua;
    text-align: center;
}
#mask_ip {
    text-align: center;
    color: orange;
    background-color:black;
    height:35px;
    font-size:15px;
}

#mask_slash{
    text-align: center;
    color: orange;
    background-color:black;
    height:35px;
    font-size:15px;
}
#num_clients {
    text-align: center;
    color: orange;
    background-color:black;
    height:35px;
    font-size:15px;
    margin-left: -10px;
}
#bit_mask {
    text-align: center;
    color: orange;
    background-color:black;
    height:35px;
    font-size:15px;
    margin-left: -10px;

}